.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}


body {
  background-color: #EDEDED;
}

.image-container {
  position: relative;
  width: 10%; /* Ensure the image container fills the width */
}

.title_page {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 0 10px; /* Adjust the padding for better mobile display */
}

.image {
  display: inline-block;
  vertical-align: middle;
  margin-left: 0px; /* Adjust the margin as needed */
  max-height: 100px; /* Adjust the maximum height as needed */
}